body {background-color: rgb(236, 214, 124);}
.final {text-decoration: underline;}
.ima1 {width: 500px; height: 300px; display: block; margin: auto;}
.inicio {text-align: center; font-size: 100px; }
div.crema {border:solid 1px black ; padding: 5px;width: 110px;margin-left: 80%;
   
    background-color: white;}